.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;

    --primary-color: #0041ff;
    --secondary-color: #091c85;
    --inverted-primary-color: #ee075a;
    --inverted-secondary-color: #04ff04;
}
