.NavBar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 20px;

  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  width: 100%;
  column-gap: 20px;
  justify-content: flex-end;
}